.area {
  z-index: -1000000000;
}

.sparkles li {
  position: absolute;
  display: block;
  bottom: -150px;
  list-style: none;
  background: #f2baa740;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  animation: animate 25s linear infinite;
}

.sparkles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.sparkles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.sparkles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.sparkles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.sparkles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.sparkles li:nth-child(6) {
  left: 75%;
  width: 60px;
  height: 60px;
  animation-delay: 3s;
}

.sparkles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 7s;
}

.sparkles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.sparkles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.sparkles li:nth-child(10) {
  left: 85%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 21s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10%,
  30%,
  50%,
  70% {
    opacity: 1;
  }
  20%,
  40%,
  60%,
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-1000px) scale(1.1) rotate(180deg);
    opacity: 0;
  }
}
