@import '../../app/variable.scss'; // colors, fonts etc...
@import '../../app/mixins.scss'; // custom mixins
@import '../../app/layout.scss'; // responsive grid and media queries

a {
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.navbar-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.navbar-section {
  height: 100vh;
  width: 100vw;
}

.navbar-scroll-down {
  position: absolute;
  @include center(x);
  bottom: 20px;
  width: 38px;
  height: 44px;
}

/* No Touch devices */

.navbar-nav-trigger {
  display: none;
}

.no-touch #navbar-vertical-nav {
  position: fixed !important;
  right: 40px;
  @include center(y); // see partials > _mixins.scss
  z-index: 9 !important;

  li {
    text-align: right;
  }
  .is-selected {
    span {
      transform: scale(1);
    }
    .navbar-label {
      opacity: 1;
    }
    .navbar-dot {
      background-color: $countdown-font-color;
    }
  }

  a {
    display: inline-block;

    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */

    span {
      float: right;
      display: block;
      transform: scale(0.6);
    }

    &:hover span {
      transform: scale(1);
    }

    &:hover .navbar-label {
      opacity: 1;
    }

    &:hover .navbar-dot {
      background-color: $countdown-font-color;
    }
  }

  .navbar-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $dots-color;
    -webkit-transition:
      -webkit-transform 0.2s,
      background-color 0.5s;
    -moz-transition:
      -moz-transform 0.2s,
      background-color 0.5s;
    transition:
      transform 0.2s,
      background-color 0.5s;
    transform-origin: 50% 50%;
    cursor: pointer;
  }

  .navbar-label {
    position: relative;
    margin-right: 10px;
    padding: 0.4em 0.5em;
    color: $dots-color;
    @include font-size(17px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-transition:
      -webkit-transform 0.2s,
      opacity 0.2s;
    -moz-transition:
      -moz-transform 0.2s,
      opacity 0.2s;
    transition:
      transform 0.2s,
      opacity 0.2s;
    opacity: 0;
    transform-origin: 100% 50%;
  }
}

/* START:react transition group css*/

/* Initial state before entering */
.box-enter {
  opacity: 0;
}

/* Applied when the component is entering */
.box-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Transition duration for enter */
}

/* Initial state before exiting */
.box-exit {
  opacity: 1;
}

/* Applied when the component is exiting */
.box-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Transition duration for exit */
}

/* END:react transition group css*/

/* Touch devices */

.touch .navbar-nav-trigger {
  display: block;
  z-index: 2 !important;
  position: fixed !important;
  bottom: 30px;
  right: 5%;
  height: 54px;
  width: 54px;
  padding: 2px;
  @include border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #270212 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  .row {
    height: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    background: #f9f0d5 0% 0% no-repeat padding-box;
    height: 100%;
    width: 25%;
    opacity: 1;
  }
}

.touch #navbar-vertical-nav {
  position: fixed !important;
  z-index: 9 !important;
  right: 5%;
  bottom: 30px;
  width: 40vw;
  max-width: 200px;
  padding: 6px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform-origin: right bottom;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  @include border-radius;
  background-color: rgb(39, 2, 18, 0.8);
  border: 1px solid #ce998e;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    display: block;
    padding: 6px;
    color: $countdown-font-color;

    span:first-child {
      display: none;
    }
  }

  &.open {
    transform: scale(1);
  }

  &.open + .navbar-nav-trigger {
    background-color: transparent;
    display: none;

    span::before,
    span::after {
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px;
    }

    span::before {
      transform: rotate(45deg);
      top: 1px;
    }

    span::after {
      transform: rotate(135deg);
      bottom: 0;
    }
  }

  li:last-child a {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .x-icon {
    display: flex;
  }
}

.no-touch #navbar-vertical-nav a.is-selected .navbar-dot {
  background-color: white;
}

.touch #navbar-vertical-nav a.is-selected span:last-child {
  color: #f1bba7;
}

@include MQ(M) {
  .touch .navbar-nav-trigger,
  .touch #navbar-vertical-nav {
    bottom: 40px;
  }

  .footer-logo {
    display: none;
  }
}
