@import '../../app/variable.scss'; // colors, fonts etc...

@import '../../app/mixins.scss'; // custom mixins

@import '../../app/layout.scss'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

// html * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// body {
//   font: {
//     size: 100%;
//   }

//   color: $color-1;
//   background-color: black;
// }

// body,
// html {
//   height: 100%;
// }

a {
  color: $color-1;
  text-decoration: none;
}

// img {
//   max-width: 100%;
// }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-section {
  min-height: 100%;
  position: relative;

  // &:nth-of-type(even) {
  //   background-color: $color-2;

  p {
    color: lighten($color-2, 30%);
  }

  h1,
  p {
    position: absolute;
    @include center;
    width: 90%;
    max-width: $M;
    text-align: center;
  }

  h1 {
    color: $color-4;
    font-weight: 300;
    text-transform: uppercase;
    @include font-size(20px);
  }

  p {
    line-height: 1.6;
  }

  @include MQ(M) {
    h1 {
      @include font-size(30px);
    }

    p {
      @include font-size(20px);
      line-height: 2;
    }
  }
}

.cd-scroll-down {
  position: absolute;
  @include center(x);
  bottom: 20px;
  width: 38px;
  height: 44px;
  // background: url('../img/cd-arrow-bottom.svg') no-repeat center center;
}

/* No Touch devices */

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  @include center(y); // see partials > _mixins.scss
  z-index: 9;

  li {
    text-align: right;
  }
  .is-selected {
    span {
      transform: scale(1);
    }
    .cd-label {
      opacity: 1;
    }
    .cd-dot {
      background-color: $countdown-font-color;
    }
  }

  a {
    display: inline-block;
    // @include clearfix;

    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */

    span {
      float: right;
      display: block;
      transform: scale(0.6);
    }

    &:hover span {
      transform: scale(1);
    }

    &:hover .cd-label {
      opacity: 1;
    }

    &:hover .cd-dot {
      background-color: $countdown-font-color;
    }
  }

  .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $dots-color;
    -webkit-transition:
      -webkit-transform 0.2s,
      background-color 0.5s;
    -moz-transition:
      -moz-transform 0.2s,
      background-color 0.5s;
    transition:
      transform 0.2s,
      background-color 0.5s;
    transform-origin: 50% 50%;
    cursor: pointer;
  }

  .cd-label {
    position: relative;
    margin-right: 10px;
    padding: 0.4em 0.5em;
    color: $dots-color;
    @include font-size(17px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    -webkit-transition:
      -webkit-transform 0.2s,
      opacity 0.2s;
    -moz-transition:
      -moz-transform 0.2s,
      opacity 0.2s;
    transition:
      transform 0.2s,
      opacity 0.2s;
    opacity: 0;
    transform-origin: 100% 50%;
  }
}

/* Touch devices */

.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 54px;
  width: 54px;
  @include border-radius;
  background: rgba($dots-color, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #270212 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  .row {
    height: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    background: #f9f0d5 0% 0% no-repeat padding-box;
    height: 100%;
    width: 25%;
    opacity: 1;
  }

  // span {
  //   position: absolute;
  //   height: 4px;
  //   width: 4px;
  //   background-color: $color-1;
  //   border-radius: 50%;
  //   @include center;

  //   &::before,
  //   &::after {
  //     content: '';
  //     height: 100%;
  //     width: 100%;
  //     position: absolute;
  //     left: 0;
  //     background-color: inherit;
  //     border-radius: inherit;
  //   }

  //   &::before {
  //     top: -9px;
  //   }

  //   &::after {
  //     bottom: -9px;
  //   }
  // }
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 9;
  right: 5%;
  bottom: 30px;
  // width: 90%;
  width: 160px;
  height: 280px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform-origin: right bottom;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.2s;
  @include border-radius;
  background-color: rgba($dots-color, 0.9);

  a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba($color-1, 0.1);

    span:first-child {
      display: none;
    }

    &.is-selected span:last-child {
      color: $color-3;
    }
  }

  &.open {
    transform: scale(1);
  }

  &.open + .cd-nav-trigger {
    background-color: transparent;

    span {
      background-color: rgba($color-1, 0);
    }

    span::before,
    span::after {
      background-color: rgba($color-1, 1);
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px;
    }

    span::before {
      transform: rotate(45deg);
      top: 1px;
    }

    span::after {
      transform: rotate(135deg);
      bottom: 0;
    }
  }

  li:last-child a {
    border-bottom: none;
  }
}

.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}

@include MQ(M) {
  .touch .cd-nav-trigger,
  .touch #cd-vertical-nav {
    bottom: 40px;
  }
}
