@media only screen and (min-width: 1000px) and (orientation: landscape) {
  /* Styles for landscape mode with screen width at least 1000px */
  p.counter-container {
    margin-top: 20px;
  }
}

@media only screen and (max-height: 700px) {
  .counter-container {
    flex-direction: row;
  }
}
