.image-wrapper {
  // Responsiveness of cards for different screens
  @media only screen and (min-width: 2561px) {
    //7 columns layout
    flex-basis: calc(16.28% - 10px);
  }
  @media only screen and (max-width: 2560px) {
    //6 columns layout
    flex-basis: calc(16% - 10px);
  }
  @media only screen and (max-width: 1920px) {
    //5 columns layout
    flex-basis: calc(18.49% + 5px);
  }
  @media only screen and (max-width: 1760px) {
    //4 columns layout
    flex-basis: calc(22.5% + 16px);
  }
  @media only screen and (max-width: 1581px) {
    //3 columns layout
    flex-basis: calc(24% - 7.5px);
  }
  @media only screen and (max-width: 1000px) {
    //3 columns layout
    flex-basis: calc((100% / 3.4) + 10px);
  }
  @media only screen and (max-width: 812px) {
    //3 columns layout
    flex-basis: calc(50% - 10px);
  }
  @media only screen and (max-width: 600px) {
    //2 columns layout
    flex-basis: 46%;
    height: calc(100% / 3);
  }
  @media only screen and (max-width: 405px) {
    //1 columns layout
    flex-basis: calc(100% + 5px);
  }
}

// .speakers-container{
//     @media only screen and (max-width: 600px) {
//         justify-content: center;
//         padding: 0;
//     }
// }
