@media screen and (min-width: 1180px) and (max-width: 1280px) {
  .member-card {
    margin: 27px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .member-card {
    margin: 38px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1368px) {
  .member-card {
    margin: 35px;
  }
}
