// iPhone SE
@media screen and (max-height: 720px) {
  .bottom-container {
    margin-top: 54vh;
  }
  .location-container {
    margin-top: 40vh;
  }
}

// google next hub
@media screen and (min-width: 1024) and (min-height: 600) and (max-height: 800) {
  .location-container {
    margin-top: 28vh;
  }
  .circle-arrow {
    margin-top: 5vh;
  }
}

@media screen and (min-width: 760) and (max-width: 819px) and (min-height: 1024) and (max-height: 1179) {
  .location-bottom-tab {
    margin-top: 648px;
  }
  .arrow-tab {
    margin-top: 30px;
  }
}

@media screen and (min-width: 820) and (max-width: 1023) and (min-height: 1180) and (max-height: 1366) {
  .location-bottom-tab {
    margin-top: 750px;
  }
  .arrow-tab {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024) and (min-height: 1366) {
  .location-bottom-tab {
    margin-top: 800px;
  }
}

@media screen and (min-width: 1024) and (max-width: 1179) and (min-height: 768) and (max-height: 819) {
  .bottom-container {
    margin-top: 268px;
  }
}

@media screen and (min-width: 1024) and (max-width: 1300) and (min-height: 768) and (max-height: 1000) {
  .location-bottom-tab {
    margin-top: 500px;
  }
}

@media screen and (max-width: 767px) {
  .location-bottom-tab {
    .location-container {
      display: none;
    }
  }
}

@media screen and (max-width: 539px) {
  .arrow-tab {
    margin-top: 5vh;
  }
}
