@media only screen and (max-height: 1368px) and (max-width: 912px) {
  .events-counter-count {
    width: 120px;
    height: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .events-counter-count {
    font-size: 36px;
  }
  .events-counter-count {
    width: 120px;
    height: 50px;
  }
  .events-counter-title {
    font-size: 17px;
  }
}

@media only screen and (max-width: 767px) {
  .events-counter-count {
    width: 120px;
    height: 50px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 821px) and (max-width: 930px) and (min-height: 1200px) and (max-height: 1370px) {
  .events-counter-count {
    width: 170px;
    height: 100px;
    font-size: 50px;
  }
  .events-counter-title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) and (min-height: 1024px) and (max-height: 1200px) {
  .events-counter-count {
    width: 170px;
    height: 100px;
    font-size: 40px;
  }
  .events-counter-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .events-counter-count {
    width: 100px;
    height: 40px;
  }
  .events-counter-title {
    font-size: 17px;
  }
}
