.Particle_tsparticles__V_WZ4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.Location_location__S0oWs {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: none;
  justify-content: none;
  gap: 0;
  color: #fff;
}
.Location_location__S0oWs p {
  font-size: 2.56rem;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .Location_location__S0oWs p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .Location_location__S0oWs p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .Location_location__S0oWs p {
    font-size: 0.9rem;
  }
}
.Location_location__S0oWs .Location_locationWrapper__uxx46 {
  height: 4rem;
}
.Location_location__S0oWs .Location_line__JW_D2 {
  margin-top: 0.8rem;
  width: 17.5rem;
  border: 1px solid #fff;
}
@media screen and (max-width: 1024px) {
  .Location_location__S0oWs .Location_line__JW_D2 {
    margin-top: 0.62rem;
    width: 13.6rem;
  }
}
@media screen and (max-width: 768px) {
  .Location_location__S0oWs .Location_line__JW_D2 {
    margin-top: 0.5rem;
    width: 10.9rem;
  }
}
@media screen and (max-width: 480px) {
  .Location_location__S0oWs .Location_line__JW_D2 {
    border: 0.7px solid #fff;
    margin-top: 0.28rem;
    width: 6.15rem;
  }
}
.Location_location__S0oWs h2 {
  font-weight: 600;
}
.Location_location__S0oWs .Location_rotatingTextWords__njmBz {
  left: 0;
  margin-bottom: 0;
  margin-top: 4.7rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.6rem;
  text-align: center;
}
.Location_location__S0oWs .Location_rotatingTextWords__njmBz span {
  font-size: 3.5rem;
  color: #dd273f;
}
.Location_location__S0oWs
  .Location_rotatingTextWords__njmBz
  span:first-of-type {
  margin-right: 0.3rem;
}
.Location_location__S0oWs
  .Location_rotatingTextWords__njmBz
  span:nth-of-type(2) {
  margin-left: 0.3rem;
}
@media screen and (max-width: 1024px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz span {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 768px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz span {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 480px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz {
    font-size: 2.03rem;
    margin-top: 3.6rem;
  }
}
@media screen and (max-width: 768px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz {
    font-size: 1.6rem;
    margin-top: 2.9rem;
  }
}
@media screen and (max-width: 480px) {
  .Location_location__S0oWs .Location_rotatingTextWords__njmBz {
    font-size: 0.9rem;
    margin-top: 1.65rem;
  }
}
.MainLogo_main-logo___FJTk {
  height: 495px;
  width: 665px;
}
.MainLogo_main-logo___FJTk .MainLogo_arrow__W56WR {
  position: relative;
  z-index: 3;
  height: 121px;
  width: auto;
  top: 171px;
  left: 21px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  animation:
    MainLogo_arrow-animation__Ay0dq 2s linear,
    MainLogo_hitRight__RXuF_ 0.5s ease-out 2.8s forwards;
}
.MainLogo_main-logo___FJTk .MainLogo_spark-image__Gnl7g {
  position: relative;
  z-index: 2;
  height: 200px;
  width: auto;
  top: 11%;
  left: 125px;
  animation:
    MainLogo_spark-animation__eRLSG 1.2s cubic-bezier(0.29, 0.19, 0.14, 0.98) 1s
      forwards,
    MainLogo_hide__euOZx 1.5s linear forwards;
}
.MainLogo_main-logo___FJTk .MainLogo_line__geXQk {
  position: relative;
  z-index: 3;
  height: 5px;
  width: 491px;
  top: -14.5%;
  right: -125px;
  animation:
    MainLogo_grow-line__uxwPp 1s cubic-bezier(0.81, 0.14, 0, 1.08) 2s forwards,
    MainLogo_hide__euOZx 2.5s linear forwards;
}
.MainLogo_main-logo___FJTk .MainLogo_circle__14ATt {
  position: relative;
  z-index: 1;
  top: -70%;
  height: 495px;
  width: auto;
  animation:
    MainLogo_rotation__U1l2r 20s linear 3.5s infinite,
    MainLogo_hide__euOZx 3.5s linear forwards;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .MainLogo_main-logo___FJTk {
    height: 360px;
    width: 450px;
  }
  .MainLogo_main-logo___FJTk .MainLogo_arrow__W56WR {
    height: 80px;
    top: 75px;
    left: 15px;
    animation:
      MainLogo_tablet-arrow-animation__Da_J_ 2s linear,
      MainLogo_mobile-hitRight__iZ5GF 1s ease-out 2.8s forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_spark-image__Gnl7g {
    height: 134px;
    width: auto;
    top: 134px;
    left: -6px;
    animation:
      MainLogo_tablet-spark-animation__yO_K_ 1.2s
        cubic-bezier(0.29, 0.19, 0.14, 0.98) 1s forwards,
      MainLogo_mobile-hide__b6cNY 1.5s linear forwards,
      MainLogo_shake__zf9_y 0.5s ease-out 2.4s forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_line__geXQk {
    height: 3px;
    width: 331px;
    top: 42px;
    right: -84px;
    animation:
      MainLogo_tablet-grow-line__O1IQp 1s cubic-bezier(0.81, 0.14, 0, 1.08) 2s
        forwards,
      MainLogo_hide__euOZx 2.5s linear forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_circle__14ATt {
    top: -44%;
    width: auto;
    height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .MainLogo_main-logo___FJTk {
    width: 263px;
    height: 240px;
  }
  .MainLogo_main-logo___FJTk .MainLogo_arrow__W56WR {
    height: 51px;
    top: 62px;
    left: 10px;
    animation:
      MainLogo_mobile-arrow-animation__Wu_nJ 2s linear,
      MainLogo_mobile-hitRight__iZ5GF 1s ease-out 2.8s forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_spark-image__Gnl7g {
    width: 205px;
    height: 81px;
    top: 96px;
    left: -2px;
    animation:
      MainLogo_mobile-spark-animation__RKE6N 1.2s
        cubic-bezier(0.29, 0.19, 0.14, 0.98) 1s forwards,
      MainLogo_mobile-hide__b6cNY 1.5s linear forwards,
      MainLogo_shake__zf9_y 0.5s ease-out 2.4s forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_line__geXQk {
    height: 3px;
    width: 193px;
    top: 33px;
    right: -56px;
    animation:
      MainLogo_mobile-grow-line___lW_Q 1s cubic-bezier(0.81, 0.14, 0, 1.08) 2s
        forwards,
      MainLogo_hide__euOZx 2.5s linear forwards;
  }
  .MainLogo_main-logo___FJTk .MainLogo_circle__14ATt {
    top: -38%;
    width: 221px;
    height: 221px;
  }
}
@keyframes MainLogo_arrow-animation__Ay0dq {
  0% {
    top: 240%;
    height: 400px;
    transform: translate(-10%, -10%) rotate(1turn);
  }
  15% {
    top: 0;
    height: 300px;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  25% {
    top: 0;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  35% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    top: 171px;
    height: 121px;
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  to {
    top: 171px;
    transform: rotate(30deg);
  }
}
@keyframes MainLogo_spark-animation__eRLSG {
  0% {
    left: 1200px;
  }
  to {
    left: 125px;
  }
}
@keyframes MainLogo_grow-line__uxwPp {
  0% {
    width: 0;
    right: -612px;
  }
  to {
    right: -125px;
  }
}
@keyframes MainLogo_rotation__U1l2r {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }
}
@keyframes MainLogo_hide__euOZx {
  0% {
    visibility: hidden;
  }
  90% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes MainLogo_hitRight__RXuF_ {
  0% {
    left: 21px;
  }
  40% {
    left: -20px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@keyframes MainLogo_tablet-arrow-animation__Da_J_ {
  0% {
    top: 240%;
    height: 300px;
    transform: translate(-10%, -10%) rotate(1turn);
  }
  15% {
    top: 0;
    height: 200px;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  25% {
    top: 0;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  35% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    top: 75px;
    height: 80px;
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  to {
    top: 75px;
    transform: rotate(30deg);
  }
}
@keyframes MainLogo_tablet-spark-animation__yO_K_ {
  0% {
    left: 1200px;
  }
  to {
    left: -6px;
  }
}
@keyframes MainLogo_tablet-grow-line__O1IQp {
  0% {
    width: 0;
    right: -670px;
  }
  to {
    right: -84px;
  }
}
@keyframes MainLogo_mobile-arrow-animation__Wu_nJ {
  0% {
    top: 240%;
    height: 300px;
    transform: translate(10%, 10%) rotate(1turn);
  }
  15% {
    top: 0;
    height: 200px;
    transform: translate(-20%, -20%) rotate(270deg);
  }
  25% {
    top: 0;
    transform: translate(-20%, -20%) rotate(180deg);
  }
  35% {
    transform: translate(-20%, -20%) rotate(90deg);
  }
  50% {
    top: 62px;
    height: 51px;
    transform: rotate(0deg);
  }
  75% {
    top: 62px;
    height: 51px;
    transform: rotate(-30deg);
  }
  to {
    top: 62px;
    transform: rotate(30deg);
  }
}
@keyframes MainLogo_mobile-spark-animation__RKE6N {
  0% {
    left: 1200px;
  }
  to {
    left: -2px;
  }
}
@keyframes MainLogo_mobile-grow-line___lW_Q {
  0% {
    width: 0;
    right: -270px;
  }
  to {
    right: -56px;
  }
}
@keyframes MainLogo_mobile-hitRight__iZ5GF {
  0% {
    left: 10px;
  }
  40% {
    left: -10px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@keyframes MainLogo_mobile-hide__b6cNY {
  0% {
    visibility: hidden;
    width: 0;
  }
  90% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.Logo_logo__J_V2f .Logo_all-spark-logo__1Pdwl {
  width: 148px;
  height: 100px;
  cursor: pointer;
}
.Logo_logo__J_V2f .Logo_all-spark-logo__1Pdwl .Logo_arrow__0NkSW {
  height: 26px;
  width: auto;
  position: relative;
  z-index: 2;
  top: 18px;
  left: 4px;
  transform: rotate(30deg);
  transition: all 0.5s ease-in-out;
}
.Logo_logo__J_V2f .Logo_all-spark-logo__1Pdwl .Logo_spark-logo__Ff56V {
  height: 38px;
  width: 103px;
  position: relative;
  z-index: 2;
  top: 33px;
  left: -3px;
}
.Logo_logo__J_V2f .Logo_all-spark-logo__1Pdwl .Logo_outer-circle__9oxvj {
  height: 99px;
  width: auto;
  position: relative;
  z-index: 1;
  bottom: 45px;
}
.Logo_logo__J_V2f .Logo_all-spark-logo__1Pdwl:hover .Logo_arrow__0NkSW {
  left: -3px;
  top: 21px;
  transform: rotate(-90deg);
}
.DetailsCounter_eventLayout__docQK {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: none;
  justify-content: space-around;
  gap: 0;
  margin: 0 auto;
}
.DetailsCounter_eventWrapper__Sr13d {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: none;
  align-content: none;
  justify-content: none;
  gap: 0;
}
.DetailsCounter_eventCount__o7Fd6 {
  font-size: 5rem;
  font-weight: 900;
}
.DetailsCounter_eventTitle__APdcU {
  font-size: 25px;
  font-weight: 300;
}
.DetailsCounter_counterWrapper__vVgE_ {
  display: flex;
}
.DetailsCounter_separator__NHadf:not(:last-child) {
  border-left: 2px solid #000;
  background: linear-gradient(#ffc06c 31%, #ff8c4e 83%);
  height: 70px;
  width: 3px;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .DetailsCounter_eventLayout__docQK {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    gap: 2rem;
  }
  .DetailsCounter_eventLayout__docQK section:last-of-type {
    justify-self: center;
    grid-column: span 2;
  }
  .DetailsCounter_separator__NHadf {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .DetailsCounter_eventCount__o7Fd6 {
    font-size: 3rem;
    font-weight: 900;
  }
  .DetailsCounter_eventTitle__APdcU {
    font-size: 16px;
    font-weight: 300;
  }
}
@keyframes GlassCard_rotate___vT47 {
  to {
    transform: rotate(1turn);
  }
}
.GlassCard_brown-glass-card__DbDy1 {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: none;
  align-content: none;
  justify-content: none;
  gap: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  margin: 1rem 0;
  color: #fff;
  font-weight: 700;
  border: 1px solid #242427;
  opacity: 0.9;
  background-color: #452901;
}
.GlassCard_brown-glass-card__DbDy1:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #452901;
  background-repeat: no-repeat;
  background-size:
    50% 50%,
    50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
}
.GlassCard_brown-glass-card__DbDy1:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #452901;
  border-radius: 10px;
}
.GlassCard_glass-card__O2bLC {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: none;
  align-content: none;
  justify-content: none;
  gap: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  margin: 1rem 0;
  color: #fff;
  font-weight: 700;
  border: 1px solid #242427;
  opacity: 0.9;
}
.GlassCard_glass-card__O2bLC:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #151517;
  background-repeat: no-repeat;
  background-size:
    50% 50%,
    50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
}
.GlassCard_glass-card__O2bLC:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #151517;
  border-radius: 10px;
}
.GlassCard_brown-glass-card__DbDy1:hover:before,
.GlassCard_glass-card__O2bLC:hover:before {
  animation: GlassCard_rotate___vT47 4s linear infinite;
  background-image: linear-gradient(#151517, #ffc06c),
    linear-gradient(#151517, #ff8c4e), linear-gradient(#ffc06c, #151517),
    linear-gradient(#ff8c4e, #151517);
}
@media screen and (max-width: 1024px) {
  .GlassCard_brown-glass-card__DbDy1,
  .GlassCard_glass-card__O2bLC {
    width: 100%;
    padding: 14px;
  }
}
@media only screen and (max-width: 766px) {
  .GlassCard_brown-glass-card__DbDy1,
  .GlassCard_glass-card__O2bLC {
    width: 100%;
    margin: 0;
  }
}
.Button_rounded-btn-arrow__gkgtj {
  position: relative;
  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, #ffc06c 31%, #ff8c4e 83%);
  padding: 17px 19px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: none;
  justify-content: none;
  gap: 0;
}
.Button_rounded-btn-arrow__gkgtj img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Button_rounded-btn-arrow__gkgtj:hover {
  background: #000;
}
.Button_rounded-btn-arrow__gkgtj:hover:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(90deg, #ffc06c 31%, #ff8c4e 83%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.Button_rounded-btn-arrow__gkgtj:hover svg stop:first-child {
  stop-color: #ffc06c;
}
.Button_rounded-btn-arrow__gkgtj:hover svg stop:nth-child(2) {
  stop-color: #ff8c4e;
}
.Button_orange-arrow-btn__HlOSZ {
  background: inherit;
  border: none;
  cursor: pointer;
}
.Button_orange-arrow-btn__HlOSZ svg {
  height: 20px;
}
.Button_gradient-border-btn__uKlo_ {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: none;
  justify-content: none;
  gap: 10px;
  color: #000;
  cursor: pointer;
  position: relative;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 30px;
  font-weight: 400;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 3rem;
  background: #000;
  color: #fff;
}
.Button_gradient-border-btn__uKlo_:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(90deg, #ffc06c 31%, #ff8c4e 83%);
  animation: Button_fadeIn__MqunM 1s ease-out;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@keyframes Button_fadeIn__MqunM {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .Button_gradient-border-btn__uKlo_ {
    padding: 14px 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .Button_gradient-border-btn__uKlo_ {
    padding: 13px 22px;
    font-size: 15px;
  }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
  .Button_gradient-border-btn__uKlo_ {
    padding: 12px 15px;
    font-size: 10px;
  }
  .Button_gradient-border-btn__uKlo_ svg {
    height: 15px;
  }
  .Button_rounded-btn-arrow__gkgtj {
    padding: 12px 10px;
  }
  .Button_rounded-btn-arrow__gkgtj svg {
    height: 21px;
  }
}
@media screen and (max-width: 400px) {
  .Button_gradient-border-btn__uKlo_ {
    padding: 12px;
    font-size: 10px;
  }
  .Button_gradient-border-btn__uKlo_ svg {
    height: 13px;
  }
  .Button_rounded-btn-arrow__gkgtj {
    margin-top: 20px;
    padding: 10px 7px;
  }
  .Button_rounded-btn-arrow__gkgtj svg {
    height: 18px;
  }
}
@media screen and (max-width: 280px) {
  .Button_gradient-border-btn__uKlo_ {
    padding: 11px;
    font-size: 10px;
  }
  .Button_gradient-border-btn__uKlo_ svg {
    height: 11px;
  }
  .Button_rounded-btn-arrow__gkgtj {
    margin-top: 20px;
    padding: 10px 6px;
  }
  .Button_rounded-btn-arrow__gkgtj svg {
    height: 16px;
  }
}
.Header_header__gtmFw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: none;
  justify-content: none;
  gap: 0;
  height: 7.5rem;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 15px 50px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.Header_header__gtmFw h1 {
  background: linear-gradient(
    90deg,
    #ffc06c 20%,
    #ff8c4e 30%,
    #ffc06c 70%,
    #ff8c4e 80%
  );
  position: fixed;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: Header_textShine__cXlSP 3s ease-out infinite alternate;
  will-change: transform;
}
@keyframes Header_textShine__cXlSP {
  0% {
    background-position: 0 50%;
  }
  to {
    background-position: 50% 100%;
  }
}
@media screen and (max-width: 768px) {
  .Header_logo__h_d_N {
    margin-top: 5px;
  }
  .Header_header__gtmFw {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    height: 10rem;
  }
  .Header_header__gtmFw h1 {
    position: absolute;
    font-size: 1.5rem;
    top: 135px;
    left: 50%;
  }
}
@media screen and (max-width: 480px) {
  .Header_header__gtmFw {
    height: 11.5rem;
  }
  .Header_header__gtmFw h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-height: 420px) and (orientation: landscape) {
  .Header_header__gtmFw {
    height: 8.5rem;
  }
  .Header_header__gtmFw h1 {
    font-size: 1rem;
    top: 120px;
  }
}
.MemberCard_memberCardWrapperOutline__2kcbB {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
}
.MemberCard_memberCardWrapperOutline__2kcbB.MemberCard_speaker__b_wbc {
  cursor: pointer;
  pointer-events: painted;
}
.MemberCard_memberCardWrapperOutline__2kcbB:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #27272a;
  background-repeat: no-repeat;
  background-size:
    50% 50%,
    50% 50%;
  background-position:
    0 0,
    100% 0,
    100% 100%,
    0 100%;
}
.MemberCard_memberCardWrapperOutline__2kcbB:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #18181b;
  border-radius: 10px;
}
.MemberCard_memberCardWrapperOutline__2kcbB:focus {
  outline: 0;
}
.MemberCard_memberCardWrapperOutline__2kcbB:focus:before {
  animation: MemberCard_rotate__dp9Z0 4.5s linear infinite;
  background-image: linear-gradient(#000, #ffdaba),
    linear-gradient(#000, #ff9654), linear-gradient(#ffdaba, #000),
    linear-gradient(#ff9654, #000);
}
.MemberCard_memberCardWrapperOutline__2kcbB:hover {
  outline: 0;
}
@keyframes MemberCard_rotate__dp9Z0 {
  to {
    transform: rotate(1turn);
  }
}
.MemberCard_memberCardWrapperOutline__2kcbB:hover:before {
  animation: MemberCard_rotate__dp9Z0 4.5s linear infinite;
  background-image: linear-gradient(#000, #ffdaba),
    linear-gradient(#000, #ff9654), linear-gradient(#ffdaba, #000),
    linear-gradient(#ff9654, #000);
}
.MemberCard_memberCardWrapperOutline__2kcbB:hover
  .MemberCard_memberKnowMoreIcon__Bkp_x {
  display: flex;
  z-index: 2;
}
.MemberCard_memberCardWrapperOutline__2kcbB:hover
  .MemberCard_memberCardImage__6rRkJ {
  border-radius: 10px;
  overflow: hidden;
}
.MemberCard_memberCardWrapperOutline__2kcbB:hover
  .MemberCard_memberCardInfo__KXeDV.MemberCard_speaker__b_wbc {
  height: 100%;
  border-radius: 10px;
}
@-moz-document url-prefix() {
  .MemberCard_memberCardWrapperOutline__2kcbB:hover
    .MemberCard_memberCardImage__6rRkJ.MemberCard_speaker__b_wbc {
    filter: blur(10px);
    width: calc(100% - 10px);
  }
  .MemberCard_memberCardWrapperOutline__2kcbB:hover
    .MemberCard_memberCardWrapper__WT9B8.MemberCard_speaker__b_wbc {
    overflow: hidden;
  }
}
@media only screen and (min-width: 2561px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(14.28% - 10px);
  }
}
@media only screen and (max-width: 2560px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(16.6667% - 10px);
  }
}
@media only screen and (max-width: 1920px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(20% - 10px);
  }
}
@media only screen and (max-width: 1440px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(25% - 10px);
  }
}
@media only screen and (max-width: 768px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(33.33% - 10px);
  }
}
@media only screen and (max-width: 700px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: calc(50% - 10px);
  }
}
@media only screen and (max-width: 370px) {
  .MemberCard_memberCardWrapperOutline__2kcbB {
    flex-basis: 80%;
  }
}
.MemberCard_memberCardWrapper__WT9B8 {
  min-width: 100%;
  aspect-ratio: 8/10;
  border: 10px solid #18181b;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 1920px) {
  .MemberCard_memberCardWrapper__WT9B8 {
    border: 7px solid #18181b;
  }
}
@media only screen and (max-width: 768px) {
  .MemberCard_memberCardWrapper__WT9B8 {
    border: 5px solid #18181b;
  }
}
.MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberKnowMoreIcon__Bkp_x {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
}
@media only screen and (max-width: 1040px) {
  .MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberKnowMoreIcon__Bkp_x {
    row-gap: 0.25rem;
  }
  .MemberCard_memberCardWrapper__WT9B8
    .MemberCard_memberKnowMoreIcon__Bkp_x
    > .MemberCard_knowMoreIcon__oRALt {
    width: 26px;
    height: 26px;
  }
  .MemberCard_memberCardWrapper__WT9B8
    .MemberCard_memberKnowMoreIcon__Bkp_x
    > .MemberCard_knowMoreText___bk9q {
    font-size: 0.625rem;
    font-weight: 800;
  }
}
.MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberCardImage__6rRkJ {
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberCardImage__6rRkJ {
    border-radius: 0.8rem;
  }
}
.MemberCard_memberCardWrapper__WT9B8
  .MemberCard_memberCardImage__6rRkJ
  > .MemberCard_cardImage__jLbJK {
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}
.MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberCardInfo__KXeDV {
  position: absolute;
  transform: translateY(-100%);
  padding: 15px;
  width: 100%;
  min-height: 50px;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  border-radius: 0 0 0.625rem 0.625rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: transparent
    linear-gradient(
      180deg,
      rgba(255, 191, 107, 0.502),
      rgba(255, 139, 77, 0.502)
    )
    0 0 no-repeat padding-box;
  z-index: 1;
}
@media only screen and (max-width: 1040px) {
  .MemberCard_memberCardWrapper__WT9B8 .MemberCard_memberCardInfo__KXeDV {
    min-height: 15px;
    padding: 6px;
  }
}
.MemberCard_memberCardWrapper__WT9B8
  .MemberCard_memberCardInfo__KXeDV
  .MemberCard_memberName__r08BS {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1040px) {
  .MemberCard_memberCardWrapper__WT9B8
    .MemberCard_memberCardInfo__KXeDV
    .MemberCard_memberName__r08BS {
    font-size: 12px;
  }
}
.MemberCard_memberCardWrapper__WT9B8
  .MemberCard_memberCardInfo__KXeDV
  .MemberCard_memberDesignation__FkFtD {
  font-weight: 400;
  font-size: 16px;
  padding-top: 4px;
}
@media only screen and (max-width: 1040px) {
  .MemberCard_memberCardWrapper__WT9B8
    .MemberCard_memberCardInfo__KXeDV
    .MemberCard_memberDesignation__FkFtD {
    font-size: 11px;
  }
}
