@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~aos/src/sass/aos.scss';

:root {
  --background: #3f0d15;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f0d15;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-x: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'DSEG7_Classic_Bold';
  src: url('/fonts/DSEG7Classic/DSEG7Classic-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.landscape-fallback-page {
  display: none;
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  /* Styles for landscape mode with screen width at least 1000px */

  .main-screen {
    display: none;
  }

  .landscape-fallback-page {
    display: flex;
  }
}

.vanta-canvas {
  height: 100% !important;
}

[data-aos='reveal-right'],
[data-aos='reveal-left'],
[data-aos='reveal-up'],
[data-aos='reveal-down'] {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    transition-property: transform, border-width;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
    transition-delay: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #451329;
    border: 3px solid transparent;
  }
  img {
    transition: transform 0.5s ease-in;
    transform: scale(1.5);
  }

  &.aos-animate {
    img {
      transform: scale(1);
    }

    &:after {
      border-color: #451329;
    }
  }
}

[data-aos='reveal-right'] {
  &:after {
    transform: translateX(0);
  }

  &.aos-animate {
    &:after {
      transform: translateX(100%);
    }
  }
}

[data-aos='reveal-left'] {
  &:after {
    transform: translateX(0);
  }

  &.aos-animate {
    &:after {
      transform: translateX(-100%);
    }
  }
}

[data-aos='reveal-up'] {
  &:after {
    transform: translateY(0);
  }

  &.aos-animate {
    &:after {
      transform: translateY(-100%);
    }
  }
}

[data-aos='reveal-down'] {
  &:after {
    transform: translateY(0);
  }

  &.aos-animate {
    &:after {
      transform: translateY(100%);
    }
  }
}
