@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3f0d15;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f0d15;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-x: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'DSEG7_Classic_Bold';
  src: url('/fonts/DSEG7Classic/DSEG7Classic-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.landscape-fallback-page {
  display: none;
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  /* Styles for landscape mode with screen width at least 1000px */

  .main-screen {
    display: none;
  }

  .landscape-fallback-page {
    display: flex;
  }
}

.vanta-canvas {
  height: 100% !important;
}

.members-grid {
  height: 70vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
