@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'DSEG7_Classic_Bold';
  src: url('../../public/fonts/DSEG7Classic/DSEG7Classic-Bold.woff2')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
