@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'DSEG7_Classic_Bold';
  src: url('../../public/fonts/DSEG7Classic/DSEG7Classic-Bold.woff2')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.countdown {
  background-color: #3f0d15;
  margin: 2rem auto;
  padding: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #f3baa7;
}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-lable {
  font-size: 29px;
  padding: 30px;
  font-family: 'Poppins';
}

.time-group {
  display: flex;
  gap: 16px;
  font-family: 'DSEG7_Classic_Bold';
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 116px;
  z-index: 1;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
  border-radius: 5px;
  border: 0;
}

.segment-display__top {
  line-height: 1.5;
  color: #332723;
  background-color: #f3baa7;
}

.segment-display__bottom {
  line-height: 0;
  color: #332723;
  background-color: #f3baa7;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 116px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #332723;
  background-color: #f3baa7;

  transform-origin: bottom;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #332723;
  background-color: #f3baa7;

  transform-origin: top;
}

.segment-middle-seperation {
  /* position: relative; */
  background-color: #3f0d15;
  height: 4.3px;

  /* top:-2px; */
  /* border-radius: 0; */
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s ease-out;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s ease-out;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  67% {
    transform: rotateX(0deg);
  }
  75% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.segment-middle-seperation {
  // position: relative;
  // display: none;
  background-color: #3f0d15;
  height: 6px;
  /* top:-2px; */
  /* border-radius: 0; */
}

.segment-display__top .counter-value,
.segment-overlay__top .counter-value {
  position: relative;

  top: 7.5px;
}
.segment-display__bottom .counter-value,
.segment-overlay__bottom .counter-value {
  position: relative;

  bottom: 2px;
}

.segment-display__bottom,
.segment-overlay__bottom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // border-top: 1px solid #3f0d15;
}
.segment-display__top,
.segment-overlay__top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  // border-top:40px;
}
