@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-gradient: transparent
    linear-gradient(180deg, #270212 0%, #511717 100%) 0% 0% no-repeat
    padding-box;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
