$animation-background: #f2baa740;

$countdown-font-color: #faf1d5;

$dots-color: #f1bba7;

//TODO: Remove when other pages are added
$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white
$coming-soon-background: #27021295;
