* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font: inherit;
}

ul li {
  list-style: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix {
  clear: both;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.upper-case {
  text-transform: uppercase;
}

.color-yellow {
  color: #ffe06e;
}

#ie-content-wrapper {
  position: relative;
  overflow: auto;
  height: 100vh;
}
#ie-content-wrapper .illustration-img-wrapper {
  width: 60%;
}
#ie-content-wrapper .illustration-img-wrapper img {
  width: 100%;
}
#ie-content-wrapper .ie-content {
  margin-top: 150px;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 20px;
}
#ie-content-wrapper .ie-content img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
#ie-content-wrapper .allspark-logo-wrapper {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 40%;
}
#ie-content-wrapper .allspark-logo-wrapper img {
  width: 100%;
}

/** BEGIN :: Variables **/
/** END :: Variables **/
/** BEGIN :: Keyframes **/
@keyframes animateLogo {
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateTrail {
  100% {
    left: 10px;
    top: 0;
  }
}
@keyframes animateRocket {
  0% {
    transform: rotate(20deg);
  }
  100% {
    left: 150px;
    top: -40px;
  }
}
@keyframes animateSparks {
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    top: -10px;
    right: -30px;
  }
}
@media screen and (max-width: 850px) {
  @keyframes animateRocket {
    0% {
      transform: rotate(20deg);
    }
    100% {
      left: 65px;
      top: -20px;
    }
  }
  @keyframes animateSparks {
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      top: -5px;
      right: -15px;
    }
  }
}
@media screen and (width: 768px) {
  @keyframes animateRocket {
    0% {
      transform: rotate(20deg);
    }
    100% {
      left: 150px;
      top: -40px;
    }
  }
  @keyframes animateSparks {
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      top: -10px;
      right: -30px;
    }
  }
}
/** END :: Keyframes **/
.home-section {
  font-family: 'Century Gothic';
  position: relative;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
}
.home-section .home-section__illustration {
  text-align: right;
}
.home-section .home-section__illustration img {
  width: 85%;
}
@media screen and (max-width: 1290px) {
  .home-section .home-section__illustration img {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .home-section .home-section__illustration img {
    width: 95%;
  }
}
@media screen and (max-width: 850px) {
  .home-section .home-section__illustration img {
    width: 45%;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__illustration img {
    width: 95%;
  }
}
@media screen and (max-width: 420px) {
  .home-section .home-section__illustration img {
    width: 95%;
  }
}
.home-section .home-section__content {
  position: absolute;
  width: 30%;
}
.home-section .home-section__content .content__heading {
  font-size: 36px;
  margin-bottom: 20px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__content .content__heading {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
.home-section .home-section__content .content__hashtags {
  font-size: 20px;
}
.home-section .home-section__content .content__hashtags li {
  display: inline;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__content .content__hashtags {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .home-section .home-section__content {
    top: 30%;
    left: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .home-section .home-section__content {
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    text-align: center;
  }
}
@media screen and (width: 1024px) and (orientation: landscape) {
  .home-section .home-section__content {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .home-section .home-section__content {
    top: 20%;
    left: 10%;
    width: 50%;
    transform: translateX(0);
    text-align: left;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__content {
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    text-align: center;
  }
}
@media screen and (width: 568px) and (orientation: landscape) {
  .home-section .home-section__content {
    top: 15%;
  }
}
@media screen and (max-width: 420px) {
  .home-section .home-section__content {
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
.home-section .home-section__logo {
  position: absolute;
  bottom: 15%;
  left: 10%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  animation-name: animateLogo;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.home-section .home-section__logo .logo__initial {
  position: relative;
  margin-bottom: 30px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__initial {
    margin-bottom: 12px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__initial {
    margin-bottom: 30px;
  }
}
.home-section .home-section__logo .logo__initial .logo__trail,
.home-section .home-section__logo .logo__initial .logo__rocket,
.home-section .home-section__logo .logo__initial .logo__sparks {
  position: absolute;
}
.home-section .home-section__logo .logo__initial .logo__triangle {
  position: relative;
  left: 0;
}
.home-section .home-section__logo .logo__initial .logo__triangle img {
  height: 150px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__initial .logo__triangle img {
    height: 65px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__initial .logo__triangle img {
    height: 150px;
  }
}
.home-section .home-section__logo .logo__initial .logo__trail {
  display: none;
  left: -800px;
  top: 1000px;
}
.home-section .home-section__logo .logo__initial .logo__trail img {
  width: 150px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__initial .logo__trail img {
    width: 60px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__initial .logo__trail img {
    width: 150px;
  }
}
.home-section .home-section__logo .logo__initial .logo__trail.animation {
  animation-name: animateTrail;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.home-section .home-section__logo .logo__initial .logo__rocket {
  display: none;
  left: -800px;
  top: 1000px;
}
.home-section .home-section__logo .logo__initial .logo__rocket img {
  height: 60px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__initial .logo__rocket img {
    height: 30px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__initial .logo__rocket img {
    height: 60px;
  }
}
.home-section .home-section__logo .logo__initial .logo__rocket.animation {
  animation-name: animateRocket;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.home-section .home-section__logo .logo__initial .logo__sparks {
  opacity: 0;
  opacity: 0;
  right: 100px;
  top: 100px;
}
.home-section .home-section__logo .logo__initial .logo__sparks img {
  height: 80px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__initial .logo__sparks img {
    height: 35px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__initial .logo__sparks img {
    height: 80px;
  }
}
.home-section .home-section__logo .logo__initial .logo__sparks.animation {
  animation-name: animateSparks;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.home-section .home-section__logo .logo__text {
  margin-left: 20px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__text {
    margin-left: 5px;
  }
}
.home-section .home-section__logo .logo__text img {
  height: 120px;
}
@media screen and (max-width: 850px) {
  .home-section .home-section__logo .logo__text img {
    height: 50px;
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo .logo__text img {
    height: 120px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1024px) {
  .home-section .home-section__logo {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (width: 768px) {
  .home-section .home-section__logo {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 420px) {
  .home-section .home-section__logo {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sessions-section {
  position: relative;
}
@media screen and (max-width: 767px) {
  .sessions-section {
    font-size: 14px;
  }
}
.sessions-section .sessions-row {
  display: flex;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row {
    display: block;
  }
}
.sessions-section .sessions-row .sessions-column {
  font-family: 'Century Gothic';
  width: 50%;
  padding: 6% 7%;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row .sessions-column {
    width: 100%;
    padding: 10% 7%;
  }
}
.sessions-section .sessions-row .sessions-column .sessions-header {
  line-height: 32px;
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row .sessions-column .sessions-header {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 850px) {
  .sessions-section .sessions-row .sessions-column .sessions-header {
    font-size: 30px;
  }
}
.sessions-section .sessions-row .sessions-column .session-location {
  font-family: 'Century Gothic';
  text-transform: capitalize;
  font-size: 18px;
  line-height: 18px;
  color: #ffe06e;
  padding-top: 10px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row .sessions-column .session-location {
    font-size: 14px;
    line-height: 14px;
  }
}
.sessions-section .sessions-row .sessions-column .sessions-body {
  padding: 6% 0;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row .sessions-column .sessions-body {
    font-size: 14px;
  }
}
.sessions-section .sessions-row .sessions-column .session-btn {
  outline: none;
  border: none;
  padding: 3% 4.5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background: #ecaf60;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition:
    border-color 0.3s,
    color 0.3s;
  transition:
    border-color 0.3s,
    color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 767px) {
  .sessions-section .sessions-row .sessions-column .session-btn {
    font-size: 14px;
  }
}
.sessions-section .sessions-row .sessions-column .session-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition:
    -webkit-transform 0.3s,
    opacity 0.3s,
    background-color 0.3s;
  transition:
    transform 0.3s,
    opacity 0.3s,
    background-color 0.3s;
}
.sessions-section .sessions-row .sessions-column .session-btn:hover::before {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  background: #f5a623;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.sessions-section .sessions-row .tech-talks {
  background: #56245f;
}
.sessions-section .sessions-row .solutions-space {
  background: #794383;
}

.guests-section .guests-container {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  overflow: none;
}
.guests-section .guests-container .card {
  height: auto;
  width: 15%;
  margin-right: 0;
}
.guests-section .guests-container .card img {
  width: 100%;
  height: auto;
  text-align: center;
}
.guests-section .guests-container .card .color-line {
  width: 100%;
  height: 10px;
  margin-top: -4px;
  padding-left: 20px;
}
.guests-section .guests-container .card .first-name,
.guests-section .guests-container .card .last-name {
  font-size: 20px;
  font-weight: 900;
  color: #794383;
}
.guests-section .guests-container .card .first-name {
  margin-top: 10px;
}
.guests-section .guests-container .card .last-name {
  margin-top: 0px;
  line-height: 20px;
}
.guests-section .guests-container .card .designation,
.guests-section .guests-container .card .description {
  font-size: 14px;
  color: #d15970;
  width: 100%;
  margin-top: 5px;
}
.guests-section .guests-container .card .description {
  color: black;
  display: none;
}
.guests-section .guests-container .card .purple {
  background-color: #794383;
}
.guests-section .guests-container .card .dull-pink {
  background-color: #d15970;
}
.guests-section .guests-container .card .bright-yellow {
  background-color: #ffe06e;
}
.guests-section .guests-container .card .dark-yellow {
  background-color: #f5a623;
}
.guests-section .guests-container .mobile-clear-fix {
  display: none;
  clear: both;
}

@media screen and (max-width: 767px) {
  .guests-section .guests-container {
    display: block;
    justify-content: unset;
    overflow: auto;
  }
  .guests-section .guests-container .card {
    margin-bottom: 10px;
  }
  .guests-section .guests-container .card:nth-child(odd) {
    width: 45%;
    float: left;
    clear: both;
  }
  .guests-section .guests-container .card:nth-child(even) {
    width: 45%;
    float: right;
  }
}
.schedule-section {
  width: 100%;
  font-family: 'Century Gothic';
}
.schedule-section .schedule-img-wrapper {
  width: 60%;
  margin: 0 auto;
}
.schedule-section .schedule-img-wrapper img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .schedule-section .schedule-img-wrapper {
    width: 80%;
  }
}

.schedule-header {
  height: 100px;
  text-align: center;
  padding: 25px 0px;
  font-size: 18px;
  color: #794383;
}

.schedule-details {
  width: 100%;
  margin-top: -8px;
  background: #794383;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .schedule-details {
    margin-top: 30px;
  }
}
.schedule-details .schedule-tile-wrapper {
  position: absolute;
  right: 0px;
  top: -55px;
}
@media screen and (max-width: 767px) {
  .schedule-details .schedule-tile-wrapper {
    top: -45px;
  }
}
.schedule-details .schedule-tile-wrapper button {
  width: 100px;
  height: 55px;
  border: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .schedule-details .schedule-tile-wrapper button {
    width: 75px;
    height: 45px;
  }
}
.schedule-details .schedule-tile-wrapper button:focus {
  outline: none;
}
.schedule-details .schedule-wrapper {
  list-style-type: none;
}
.schedule-details .schedule-wrapper .schedule-list-item-wrapper {
  border-bottom: 1px solid #ffffff;
}
.schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
  padding: 25px 0px 25px 35px;
}
@media screen and (max-width: 767px) {
  .schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child {
    padding: 20px 0px 20px 15px;
  }
}
.schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h1 {
  font-size: 26px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper:first-child
    h1 {
    font-size: 20px;
  }
}
.schedule-details .schedule-wrapper .schedule-list-item-wrapper:first-child h2 {
  margin-top: 5px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper:first-child
    h2 {
    font-size: 14px;
  }
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table {
  display: table;
  font-size: 14px;
  padding: 10px 0px;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table {
    font-size: 12px;
  }
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row {
  display: table-row;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .topic {
  font-size: 18px;
  padding: 10px 35px 10px 35px !important;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table
    .schedule-row
    .topic {
    font-size: 16px;
    padding: 10px 15px 10px 15px !important;
  }
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .time {
  width: 120px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table
    .schedule-row
    .time {
    min-width: 75px;
    width: 100px;
    font-size: 16px;
  }
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell {
  display: table-cell;
  font-weight: 400;
  padding: 10px 0px 10px 35px;
  line-height: 1.5;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table
    .schedule-row
    .schedule-cell {
    padding: 10px 0px 10px 15px;
  }
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .topic-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.6;
  padding: 10px 0;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper {
  margin-top: 2.5px;
  margin-right: -1px;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper
  div {
  margin-right: 5px;
  display: inline-block;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper
  .presenter-icon {
  font-size: 12px;
  font-weight: bold;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper
  .presenter-name {
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper
  .presenter-name::after {
  content: ',';
}
.schedule-details
  .schedule-wrapper
  .schedule-list-item-wrapper
  .schedule-table
  .schedule-row
  .schedule-cell
  .presenter-wrapper
  .presenter-name:last-child::after {
  content: ' ';
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table
    .schedule-row
    .schedule-cell
    .hall {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .schedule-details
    .schedule-wrapper
    .schedule-list-item-wrapper
    .schedule-table
    .schedule-row
    .schedule-cell:first-child {
    min-width: 75px;
  }
}
.schedule-details .schedule-wrapper .schedule-footer {
  text-align: center;
  padding: 20px 0px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffe06e;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .schedule-details .schedule-wrapper .schedule-footer {
    font-size: 16px;
  }
}

.yellow {
  background: #ecaf60;
}

.violet {
  background: #794383;
}

.footer-property {
  color: #ffe06e;
  font-weight: 600 !important;
}

.allspark-location {
  margin-left: 10px;
}

.dummy {
  text-align: center;
  padding: 10px 0px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .dummy {
    font-size: 14px;
  }
}

.allspark-yellow {
  color: #ffe06e;
}

.timer-section {
  font-family: 'Roboto Condensed', sans-serif;
}
.timer-section .timer-container {
  text-align: center;
  margin-bottom: 50px;
}
.timer-section .timer-container div {
  display: inline-block;
}
.timer-section .timer-container .time {
  font-size: 15vw;
}
.timer-section .timer-container .suffix {
  font-size: 3vw;
  padding-right: 5%;
}
@media screen and (max-width: 767px) {
  .timer-section .timer-container .suffix {
    padding-right: 4%;
  }
}
.timer-section .timer-container .days {
  color: #6a3f85;
}
.timer-section .timer-container .hours {
  color: #f5a623;
}
.timer-section .timer-container .mins {
  color: #d15970;
}
.timer-section .timer-container .secs {
  color: #ffe06e;
  padding-right: 0;
}
.timer-section .timer-container .hash-tag-symb,
.timer-section .timer-container .hash-tag-allspark,
.timer-section .timer-container .hash-tag-tx {
  margin-top: 70px;
  font-size: 12vw;
}
@media screen and (max-width: 767px) {
  .timer-section .timer-container .hash-tag-symb,
  .timer-section .timer-container .hash-tag-allspark,
  .timer-section .timer-container .hash-tag-tx {
    margin-top: 40px;
  }
}
.timer-section .timer-container .hash-tag-symb {
  color: #ecaf60;
}
.timer-section .timer-container .hash-tag-allspark {
  color: #56245f;
}
.timer-section .timer-container .hash-tag-tx {
  color: #d15970;
}
@media screen and (max-width: 767px) {
  .timer-section .timer-container {
    margin-bottom: 30px;
  }
}

.allspark-main-wrapper .align-center {
  width: 86%;
  margin: 0px auto;
}
.allspark-main-wrapper .section-heading {
  color: #6a3f85;
  font-family: 'Century Gothic';
  font-size: 60px;
  text-align: center;
  padding: 90px 0;
}
@media screen and (max-width: 767px) {
  .allspark-main-wrapper .section-heading {
    font-size: 30px;
    padding: 30px;
  }
}
.allspark-main-wrapper .allspark-logo-wrapper {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 60%;
  margin: 0 auto;
}
.allspark-main-wrapper .allspark-logo-wrapper img {
  width: 100%;
  height: auto;
}
.allspark-main-wrapper .allspark-logo-wrapper .previous-allspark-link-wrapper {
  display: flex;
  margin: 15px 0;
}
.allspark-main-wrapper
  .allspark-logo-wrapper
  .previous-allspark-link-wrapper
  div {
  background: #6a3f85;
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}
.allspark-main-wrapper
  .allspark-logo-wrapper
  .previous-allspark-link-wrapper
  div
  a {
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .allspark-main-wrapper
    .allspark-logo-wrapper
    .previous-allspark-link-wrapper
    div {
    padding: 7px 10px;
    font-size: 10px;
  }
}
.allspark-main-wrapper
  .allspark-logo-wrapper
  .previous-allspark-link-wrapper
  div:first-child {
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .allspark-main-wrapper
    .allspark-logo-wrapper
    .previous-allspark-link-wrapper
    div:first-child {
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .allspark-main-wrapper
    .allspark-logo-wrapper
    .previous-allspark-link-wrapper {
    margin: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .allspark-main-wrapper .allspark-logo-wrapper {
    width: 70%;
  }
}
.allspark-main-wrapper .footer-section .footer-img-wrapper {
  width: 98%;
}
.allspark-main-wrapper .footer-section .footer-img-wrapper img {
  width: 100%;
  height: auto;
}
.allspark-main-wrapper .footer-section .footer-img-wrapper svg {
  display: block;
  width: 100%;
  height: auto;
}
.allspark-main-wrapper .footer-section .footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  flex-wrap: wrap;
  color: #6a3f85;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .allspark-main-wrapper .footer-section .footer-links-wrapper {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    justify-content: center;
  }
}
.allspark-main-wrapper .footer-section .site-links-wrapper li {
  display: inline-block;
  padding: 0 18px;
}
.allspark-main-wrapper .footer-section .site-links-wrapper li a {
  text-decoration: none;
  color: #6a3f85;
}
@media screen and (max-width: 850px) {
  .allspark-main-wrapper .footer-section .site-links-wrapper li {
    padding: 0 20px 15px 0;
  }
}
.allspark-main-wrapper .footer-section .site-links-wrapper li:first-child {
  padding-left: 0;
}
@media screen and (max-width: 850px) {
  .allspark-main-wrapper .footer-section .site-links-wrapper {
    padding-top: 15px;
  }
}
.allspark-main-wrapper .footer-section .social-links-wrapper {
  font-size: 16px;
}
.allspark-main-wrapper .footer-section .social-links-wrapper a {
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .allspark-main-wrapper .footer-section .social-links-wrapper a {
    width: 26px;
    height: 26px;
    padding: 6px;
    font-size: 14px;
  }
}
.allspark-main-wrapper .footer-section .social-links-wrapper .fa-facebook {
  margin-right: 10px;
  background: #365395;
  color: #ffffff;
}
.allspark-main-wrapper .footer-section .social-links-wrapper .fa-twitter {
  background: #55adf1;
  color: #ffffff;
}
@media screen and (max-width: 850px) {
  .allspark-main-wrapper .footer-section .social-links-wrapper {
    width: 100%;
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=index.css.map */
