@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .event-title {
    font-size: 17px;
  }
  .event-description {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1370px) {
  .event-title {
    font-size: 24px;
  }
  .event-description {
    font-size: 17px;
  }
}

@media only screen and (max-width: 767px) {
  .event-card {
    width: 90%;
    margin: auto;
    padding: 2rem;
    gap: 10px;
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  .event-card {
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 821px) and (max-width: 930px) and (min-height: 1200px) and (max-height: 1370px) {
  .event-card {
    width: 90%;
    margin: auto;
    padding: 3rem;
    gap: 10px;
  }
  .event-title {
    font-size: 55px;
  }
  .event-description {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 820px) and (min-height: 1024px) and (max-height: 1200px) {
  .event-card {
    width: 90%;
    margin: auto;
    padding: 2rem;
    gap: 10px;
  }
  .event-title {
    font-size: 40px;
  }
  .event-description {
    font-size: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .event-card {
    padding: 1rem;
  }
  .event-title {
    font-size: 17px;
  }
  .event-description {
    font-size: 14px;
  }
}
