/* styles/globals.css */
.left-hand,
.right-hand {
  position: absolute;
  width: 100px; /* Adjust as needed */
  height: 100px;
  bottom: 0;
}

.left-hand {
  left: 0;
}

.right-hand {
  right: 0;
}

.spark-effect-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* Adjust to control the area where sparks appear */
  height: 100px; /* Adjust to control the area where sparks appear */
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.spark {
  position: absolute;
  width: 25vw;
  height: 25vh;
  background-color: rgba(255, 215, 0, 0.8); /* Default color */
  border-radius: 50%;
  pointer-events: none;
} /* Add animation keyframes for more complex effects if needed */

.single-image,
.target-image {
  width: 100px;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.target-image {
  position: absolute;
  width: 400px;
  height: 50px;
  left: calc(50vw - 200px);

  img {
    height: 100%;
  }
}

.single-image {
  position: absolute;
  width: 50px;
  left: calc(50vw - 25px);
  top: calc(35vh - 25px);
}
