.slick-slide {
  transition: width 300ms 50ms ease-in-out;
}
.slick-slide.active {
  width: 7% !important;
  img {
    border-radius: 60px;
  }
  .details {
    display: flex;
  }
}

.slick-slide img {
  border-radius: 140px;
}

.guests-desktop {
  .section-header-wrapper {
    padding-left: 0;
  }
}
