.schedule-container {
  @media screen and (max-width: 400px) {
    .section-header-wrapper {
      margin-top: 4vh;
      margin-bottom: 1vh;
    }
  }
}

.image-wrapper-play {
  img {
    @media screen and (max-width: 640px) {
      height: 20px;
      width: 20px;
    }
  }
}
