@media screen and (min-width: 768px) and (max-width: 1023px) and (min-height: 786px) and (max-height: 1368px) {
  .section-header-wrapper {
    justify-content: center;
    margin-bottom: 3vh;
  }

  .header-line {
    height: 2px;
    width: 12vw;
  }
}
