@import '../../app/variable.scss';

.coming-soon-container {
  .coming-soon {
    background: $coming-soon-background 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}
@media only screen and (max-width: 580px) {
  .coming-soon-container {
    padding: 32px 25px;
    .coming-soon-text {
      font-size: 2.25rem;
    }
    .content-box {
      justify-content: center;
      width: 266px;
      height: 221px;
      gap: 14px;
    }
    p,
    span {
      font-size: 1.5rem;
    }
    .all-spark-button {
      padding: 10px 15px 10px 12px;
    }
  }
}

@media screen and (min-width: 581px) and (max-width: 1083px) {
  .coming-soon-container {
    white-space: nowrap;
    padding: 2.56rem 3.75rem;
  }
  .coming-soon-container .coming-soon-text {
    font-size: 2rem;
  }
  .coming-soon-container p,
  .coming-soon-container span {
    font-size: 1.5rem;
  }
}
