.segment-overlay {
  perspective: 400px;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s ease-out;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s ease-out;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  67% {
    transform: rotateX(0deg);
  }
  75% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
